
<!--

<!DOCTYPE article PUBLIC "-//OASIS//DTD DocBook XML V4.2//EN"
"http://www.oasis-open.org/docbook/xml/4.2/docbookx.dtd">

Author:     Jason Novotny
Version:    $Id$
-->

<sect1>
    <title>Configuration</title>
    <para>
        Before deploying GridSphere to a servlet container, various configuration settings can
        be adjusted to customize layout, database configuration, portlet services and the portlet
        web applications that are started at run time. Below is a description of the various configuration files
        and how they are used.
    </para>
</sect1>

<sect1>
    <title>Initialized Portlet Web Applications</title>
        When deployed, GridSphere requires access to deployed portlet web applications. Since portlets are packaged according
        to the web application repository (WAR) format defined in the Java 2.3 Servlet Specification, the names of the
        WAR files or web applications needs to be added as an empty file whose filename is defined by the name of portlet web application
        to the <filename>$CATALINA_HOME/webapps/gridsphere/WEB-INF/Portlets</filename> directory. The filename may contain
        an additional integer suffix ".#" to ensure a priority when the container will load the portlet application. By default,
        you will see <filename>$CATALINA_HOME/webapps/gridsphere/WEB-INF/Portlets/gridsphere.1</filename> which instructs
        the container to load the set of core gridsphere portlets first. Below is a sample directory listing showing
        a deployed GridSphere and a couple additional portlet applications:
    <example>
        <programlisting>
            <literallayout>
%>ls $CATALINA_HOME/webapps/gridsphere/WEB-INF/Portlets/

grid   gridsphere.1    jsrtutorial  examplets  mysamples.2
            </literallayout>
        </programlisting>
    </example>
</sect1>

<sect1>
    <title>Portal Layout Configuration</title>
        The defined layouts used in GridSphere are found in <filename>webapps/gridpshere/WEB-INF/layouts</filename> of your GridSphere
        distribution and contain the <filename>GuestUserLayout.xml</filename>
        which defines the guest layout. Initially before a user has logged in, they will see
        the layout as presented in <filename>GuestUserLayout.xml</filename>. The guest layout contains the Login portlet
        to allow people to login and little else. This file may be edited to provide additional portlets to guest portal
        users. Group layouts specify the layout for a particular group and are stored in
    <filename>$CATALINA_HOME/webapps/gridsphere/WEB-INF/layouts/groups</filename>. Please see the GridSphere Administartor's Guide for
    more information on customizing group layouts.
        Users' layouts are persisted and stored in <filename>$CATALINA_HOME/webapps/gridsphere/WEB-INF/layouts/users</filename>.
        Simply removing any of these layout files will force a new one to be created when a user logs in.
</sect1>

<sect1>
    <title>Database Configuration</title>
            By default, GridSphere is configured (using Hibernate) to use HSQL pure Java database. To configure
            GridSphere to use some other database, please edit the
    <filename>gridsphere/webapps/gridsphere/WEB-INF/persistence/hibernate.properties</filename> before deploying.
            file and comment out the HSQL lines and uncomment the lines for the database you wish to use.
            The connection url setting should point to the physical location of your database.
            The same applies if you want to deploy any 3rd party webapp which uses persistence.
            The configuration file is
            located in  <filename>webapp/WEB-INF/persistence/hibernate.properties</filename>.
            The default is as well to use the internal HSQL database with no modification needed.
</sect1>

<sect1>
    <title>Messaging Configuration</title>
        To take advantage of GridSphere's messaging system you need to edit  <filename>gridsphere/webapps/WEB-INF/tmfconfig/tmf.xml</filename>.
        Please enable the services and the configuration files for the services you want to use. Currently mail and
        AOL Aim service are supported. For AIM you need to edit <filename>gridsphere/webapps/WEB-INF/tmfconfig/services/aim.xml</filename>  and
        fill in the approriate values for the username/password for the aimbot you wish to use.
        For Mail modification of <filename>gridsphere/webapps/WEB-INF/tmfconfig/services/mail.xml</filename> with the values of
        MailServer, Port and Sender is needed. Redeploy gridsphere after making any changes.
</sect1>
