/*
Part of the Gridsphere XP theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id$
*/


.window-main {
   width: 100%;
}

.window-title {
  background-color: #ebebeb;
  color: #000000;
  font-size: 12px;
  height: 15px;
  width: 100%;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;

}

.window-title-name {
  color: #777777;
  text-align: center;
  font-weight: bold;
}

.window-icon-right {
   text-align: right;
   width: 40px;
   float: right;
}

.window-icon-left {
    text-align: left;
    float: left;
    width: 60px;
}

.window-content-minimize {
    border-top: solid 1px black;
}

.window-content {
  background-color: #ffffff;
  padding: 5px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}


