/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (oliver.wehrens@aei.mpg.de)
Version: $Id$
*/


.window-main {
   width: 100%;
   spacing: 2px;
   padding: 2px;
}

.window-title-inactive {
  background-color: #6699CC;
  color: #000000;
  width: 100%;
  border-top: 1px solid #0053e2;
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;                                                                                         ¤ 
}

.window-title-active {
  background-color: #6699CC;
  color: #000000;
  width: 100%;
  border-top: 1px solid #0053e2;
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;
}

.window-title-name {
  color: white;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
}

.window-icon-right {
   text-align: right;
   width: 60px;
}

.window-icon-left {
    text-align: left;
    width: 60px;
}

.window-content-minimize {

}

.window-content {
  background-color: #eeeeee;
  padding: 5px;
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;
  border-bottom: 1px solid #0053e2;
  spacing-top: 5px;
  spacing-right: 2px;
  height: 100%;
}

