/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id$
*/

/* ANCHOR tag                                   */


a {
  color: #000000;
  text-decoration: none;
  /*font-weight:bold;  */
}
a:link {
  color: #0D70C6;
  text-decoration: none;
}
a:visited       {
  color: #0D70C6;
  text-decoration: none;
}
a:active {
  color: blue;
}
a:hover {
  color: blue;
}


/************************************************/
/* default settings                             */

body {
  font-family: lucida, verdana, "Lucida Grande", helvetica, arial, sans-serif;
  font-weight:normal;
  font-size: 12px;
  margin: 0px;
  background-color: #FFFFFF;
  color: #000000;
}


/************************************************/
/* table tag                                    */
table {
    empty-cells: show;
    font-size: inherit;           /* important belive it or not */
}



/************************************************/
/* input tag                                    */

input[type=submit] {
  margin-top: 2px;
}

input, select, textarea {
  font-size: inherit;
}

