/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: layout.css 3968 2005-04-21 21:42:17Z novotny $
*/

.header {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

