/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: page.css 3968 2005-04-21 21:42:17Z novotny $
*/

#page-logo {
  color: #7B7B7B;
  font-size: 36px;
  font-weight: normal;
  background:#FFFFFF;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1px;
}

#page-tagline {
  color:#cbccce;
  background:#d6d6d6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 5px;
}

#page-wrapper {
  width: 100%;
  display: table-row;
  table-layout: fixed;
}
