/* Stylesheet */
/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: ui.css 3968 2005-04-21 21:42:17Z novotny $
*/

.ui-datagrid {
    background: #FFFFFF;
    border-left: 1px solid #848484;
    border-top: 1px solid #848484;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2px;
    margin: 2px;

}

.ui-datagrid-title {

    padding: 2px;

}

.ui-datagrid-controls {
    border: 1px solid #bbbdb6;
    color: #808080;
}

.ui-datagrid-controls-element-inactive {
    color: #bbbdb6;
    border-right: 1px solid #bbbdb6;
    padding-right: 5px;
}

a.ui-datagrid-controls-element-active {
    color: #bbbdb6;
    border-right: 1px solid #bbbdb6;
    padding-right: 5px;
    }

a.ui-datagrid-controls-element-active:link {
    color: black;
}


.ui-datagrid-header {

    background-color: blue;
    color: white;
    margin: 3px;
    padding: 3px;

}

.ui-datagrid-content {

    border: 1px solid black;
    width: 100%;
}

.ui-datagrid-row-even {
}

.ui-datagrid-row-odd {
    background-color: #BDBBB6;
    border: 1px solid #000000;
}

.ui-datagrid-cell {
    margin: 0px;
    padding: 0px;
}


.ui-messagebox {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

/* Sortable tables */
table.sortable a.sortheader {
    background-color:inherit;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}