<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
  <title>SamplePage for GridSphere</title>
  <link type="text/css" href="default.css" rel="STYLESHEET"/>
 <body>
 <div id="page-logo">Sample Webpage</div>
 <div id="page-tagline">WP4</div>
 <div id="tab-pane">
  <table>
  <tr>

  <td><div id="tab-inactive">Start</div>
  </td>

  <td><div id="tab-active">Cactus</div>
  </td>

  <td><div id="tab-inactive">Globus</div>
  </td>

  </tr>
  </table>
</div>
  



  <div id="page-content">


 <div id="window-main">
   <div id="window-title-main">
   <table width="100%" ><tr>
<td>         <img class="float-left" src="window_configure.gif"/>
         <img class=float-left" src="window_edit.gif"/>

</td><td> <div id="window-title">    title </div>
 </td><td>      <img  class="float-right" src="window_minimize.gif"/> 
      <img  class="float-right" src="window_maximize.gif"/> 
      <img  class="float-right" src="window_close.gif"/> 
   </td></tr> </table>
    </div>

    <div id="window-content">
    contenti
    lalala userstuff <p/>
    kajkjakjak<br/>
   df  fdfd fsdff
dfkjkfjkdjfd kfjdklfjdslkfjlsdkfj sdklfjs p'ifueifvnfynvuyuilvygbygblfhl
   </div>
 


  </div>
 </body>
</html>
