<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
  <title>SamplePage for GridSphere</title>
  <link type="text/css" href="default.css" rel="STYLESHEET"/>
 <body>
 <div id="page-logo">Sample Webpage</div>
 <div id="page-tagline">WP4</div>
 <div id="tab-pane">

  <span id="tab-inactive">Start</span>

  <span id="tab-active">Cactus</span>

  <span id="tab-inactive">Globus</span>

  <span id="tab-inactive">GroupWare</span>
 </div>
  

  <div id="page-wrapper">

  <div id="page-row1">

  <div id="window-main">
   <div id="window-title-main">Superportlet </div>
      <div id="window-content">
       content<p>
       some text another superportlet<p>
      </div>
  </div>

  <div id="window-main">
   <div id="window-title-main">Superportlet 2 </div>
      <div id="window-content">
       content<p>
       some text another superportlet<p>
      </div>
  </div>
 </div>

   <div id="page-row2">

   <div id="window-main">
   <div id="window-title-main">Superportlet 3 </div>
      <div id="window-content">      
       content<p>
       some text another superportlet<p>
      </div>
  </div>
  </div>
 
 </div>
 </body>
</html>
