<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
  <title>SamplePage for GridSphere</title>
  <link type="text/css" href="default.css" rel="STYLESHEET"/>
 <body>
 <div id="page-logo">Resize/Minimize Demo</div>
 <div id="page-tagline">WP4</div>
 <div id="tab-pane">
  <div class="tab-menu">
  <span id="tab-inactive"><a class="tab-menu" href="start.html">Start</a></span>

  <span id="tab-inactive"><a class="tab-menu" href="index_css.html">Cactus</a></span>

  <span id="tab-inactive"><a class="tab-menu" href="globus_css.html">Globus</a></span>

  <span id="tab-active">GroupWare</span>
  </div>
 </div>
 <div id="tab-bar"></div>

  <div id="page-wrapper">
 
  <div id="page-row1">
 
  <div id="window-main">
   <div id="window-title">
    <span id="window-icon-right">
          <a href="configure"><img border="0" src="i2_wrench.gif" alt="minimize this window"/></a>
          <a href="configure"><img border="0" src="i2_edit.gif" alt="minimize this window"/></a>
          <a href="gw_css_normal.html"><img border="0" src="i2_resize.gif" alt="minimize this window"/></a>
          <a href="gw_css_normal.html"><img border="0" src="i2_max.gif" alt="minimize this window"/></a>
          <a href="configure"><img border="0" src="i2_close.gif" alt="minimize this window"/></a>
    </span>
    <span id="window-title-name">Superportlet</span>
   </div>
      <div id="window-content-minimize">
         content<p>
         some text another superportlet<p>
      </div>
  </div>

  <div id="window-main">
   <div id="window-title">
    <span id="window-icon-right">
       <img src="i2_wrench.gif" alt="minimize this window"/>
       <img src="i2_edit.gif" alt="minimize this window"/>
       <img src="i2_min.gif" alt="minimize this window"/>
       <img src="i2_max.gif" alt="minimize this window"/>
       <img src="i2_close.gif" alt="minimize this window"/>
    </span>
    <span id="window-title-name">Superportlet 7</span>
   </div>
      <div id="window-content">
         content<p>
         some text another superportlet<p>
         <img src="http://www.aei.mpg.de/icon/logo.gif"/>
      </div>
  </div>
  </div>

  <div id="page-row2">  

  <div id="window-main">
   <div id="window-title">
    <span id="window-icon-right">
       <img src="i2_wrench.gif" alt="minimize this window"/>
       <img src="i2_edit.gif" alt="minimize this window"/>
       <img src="i2_min.gif" alt="minimize this window"/>
       <img src="i2_max.gif" alt="minimize this window"/>
       <img src="i2_close.gif" alt="minimize this window"/>
    </span>
    <span id="window-title-name">P***let</span>
   </div>
      <div id="window-content">
         content<p>
         some text another superportlet<p>
         <a href="dummy">a dummy link</a>
      </div>
  </div>


<div id="window-main">
   <div id="window-title">
    <span id="window-icon-right">
       <img src="i2_wrench.gif" alt="minimize this window"/>
       <img src="i2_edit.gif" alt="minimize this window"/>
       <img src="i2_min.gif" alt="minimize this window"/>
       <img src="i2_max.gif" alt="minimize this window"/>
       <img src="i2_close.gif" alt="minimize this window"/>
    </span>
    <span id="window-title-name">P***let</span>
   </div>
      <div id="window-content">
         content<p>
         some text another superportlet<p>
         <a href="dummy">a dummy link</a>
      </div>
  </div>



  </div>

 </body>
</html>
