#tab-pane {
   width: 100%;
   text-align: left;
   padding-top: 10px;
   font-family: verdana, arial, sans-serif;
   font-size:12px;
   font-weight:normal;
   background-color: #B3E2FD;
   margin-left: 0px;
   margin-right: 0px;
   border: none;
}

#tab-bar {
   width: 100%;
   background-color: #34508B;
   height: 4px;
   border: none;
   border-bottom: solid 1px black ;
}

#tab-active {
   padding: 5px;
   padding-bottom: 1px;
   margin-bottom: 0px;
   color:white;
   background-color: #34508B;
   border: none;
}


#tab-inactive {
   padding: 5px;
   margin-bottom: 0px;
   padding-bottom: 1px;
   background-color: #FFFFEE;
   border: none;
}

a.tab-menu { 
  text-decoration:none;
}

a.tab-menu:link {
  color: #A4A4AA;
}

a.tab-menu:visited {
  color: #A4A4AA;
}

a.tab-menu:hover {
  color: black;
}

a.tab-menu:active {
  color: green;
}
