#window-main {
   width: 350px;
   margin-top: 10px;
}

#window-main-max {
   width: 100%;
   margin-top: 10px;
}

#window-title {
  background-color: #0079B8;
  color: #FFFFFF;
  border: solid 1px black;
  font-size: 12px;
  padding: 2px;
}

#window-title-name {
  color: #FFFFFF;
}

#window-content {
  background-color: #E3E3E3;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom:  solid 1px black;
  padding: 2px;
  font-size: 12px;
  color: black;
}

#window-content-minimize {
  display: none;
}

#window-icon-right {
   padding: 0px;
   margin: 0px;
   position: relative;
   float: right;
}

#window-icon-left {
   padding-right: 5px;
   margin: 0px;
   position: relative;
   float: left;

}

a.window-iconmenu {
  text-decoration:none;
}

a.window-iconmenu:link {
  color: #A4A4AA;
}

a.window-iconmenu:visited {
  color: #A4A4AA;
}
   
a.window-iconmenu:hover {
  color: black;
  background-image:url(i2_select.gif); 
}
a.window-iconmenu:active {
  color: green;
}  

