/* Stylesheet */
/*
Part of the Gridsphere modern theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: ui.css 4736 2006-04-10 22:10:44Z novotny $
*/

.ui-datagrid {
    background: #e6e6e6;
    border-top: 1px solid #848484;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid #848484;
    margin: 2px;
    padding: 2px;
}

.ui-datagrid-title {
    padding: 2px;
}

.ui-datagrid-controls {
    border: 1px solid #bbbdb6;
    color: #808080;
}

.ui-datagrid-controls-element-inactive {
    color: #bbbdb6;
    border-right: 1px solid #bbbdb6;
    padding-right: 5px;
}

a.ui-datagrid-controls-element-active {
    border-right: 1px solid #bbbdb6;
    color: #bbbdb6;
    padding-right: 5px;
}

a.ui-datagrid-controls-element-active:link {
    color: black;
}


.ui-datagrid-header {
    background-color: blue;
    color: white;
    margin: 3px;
    padding: 3px;

}

.ui-datagrid-content {
    border: 1px solid black;
    width: 100%;
}

.ui-datagrid-row-even {
}

.ui-datagrid-row-odd {
    background-color: #BDBBB6;
    border: 1px solid #000000;
}

.ui-datagrid-cell {
    margin: 0px;
    padding: 0px;
}

.ui-messagebox-portlet-msg-alert {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background: url(../images/msgicons/portlet-msg-alert.gif) left top no-repeat;
    background-position: 5px;
}

.ui-messagebox-portlet-msg-error {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background: url(../images/msgicons/portlet-msg-error.gif) left top no-repeat;
    background-position: 5px;
}

.ui-messagebox-portlet-msg-info {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background: url(../images/msgicons/portlet-msg-info.gif) left top no-repeat;
    background-position: 5px;
}

.ui-messagebox-portlet-msg-success {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background: url(../images/msgicons/portlet-msg-success.gif) left top no-repeat;
    background-position: 5px;
}



.basictab {
padding: 3px 0;
margin-left: 0;
font: bold 12px Verdana;
border-bottom: 1px solid gray;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li {
display: inline;
margin: 0;
}

.basictab li a {
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid gray;
border-bottom: none;
background-color: #f6ffd5;
color: #2d2b2b;
}

.basictab li a:visited {
color: #2d2b2b;
}

.basictab li a:hover {
background-color: #DBFF6C;
color: black;
}

.basictab li a:active{
color: black;
}

.basictab li.selected a{ /*selected tab effect*/
position: relative;
top: 1px;
padding-top: 4px;
background-color: #DBFF6C;
color: black;
}
