/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: general.css 4496 2006-02-08 20:27:04Z wehrens $
*/

/* ANCHOR tag                                   */


a {
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size:12px;
  text-decoration: none;
  /*font-weight:bold;  */
}
a:link {
  color: green;
  text-decoration: bold;
}
a:visited       {
  color: green;
  text-decoration: none;
}
a:active {
  color: green;
}
a:hover {
  color: green;
}


/************************************************/
/* default settings                             */

body {
  font-family: verdana, arial, sans-serif;
  font-size:12px;
  font-weight:normal;
  margin: 0px;
  background-color: #FFFFFF;
  color: #000000;
}


/************************************************/
/* table tag                                    */
table {
    empty-cells: show;
/*    font-size: inherit;            important belive it or not */
    font-size: 12px;
}



/************************************************/
/* input tag                                    */

input[type=submit] {
  margin-top: 2px;
}

input, select, textarea {
  font-size: inherit;
  font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

/* Added */
img {
border-style: none;
}

