/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (oliver.wehrens@aei.mpg.de)
Version: $Id: window.css 4496 2006-02-08 20:27:04Z wehrens $
*/


.window-main {
   width: 100%;
   border-spacing: 2px;
   padding: 2px;
}

.window-title-inactive {
  background-color: #ABBA83;
  color: #000000;
  font-size: 12px;
  width: 100%;
  border-top: 1px solid #9FB086;
  border-right: 1px solid #ABBA83;
}

.window-title-active {
  background-color: #9FB086;
  color: #000000;
  font-size: 12px;
  width: 100%;
  border-top: 1px solid #9FB086;
  border-right: 1px solid #9FB086;
  border-left: 1px solid #9FB086;
}

.window-title-name {
  color: white;
  font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;;
  text-align: center;
  font-weight: bold;
}

.window-icon-right {
   text-align: right;
   width: 80px;
}

.window-icon-left {
    text-align: left;
    width: 60px;
}

.window-content-minimize {

}

.window-content {
  background-color: #eeeeee;
  padding: 5px;
  border-right: 1px solid #9FB086;
  border-left: 1px solid #9FB086;
  border-bottom: 1px solid #9FB086;
  height: 100%;
}

