/* Stylesheet */
/*
Part of the Gridsphere modern theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: ui.css 4736 2006-04-10 22:10:44Z novotny $
*/

.ui-messagebox-portlet-msg-alert {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background-image: url( ../images/msgicons/portlet-msg-alert.gif );
    background-repeat: no-repeat;
    background-position: center left;
}

.ui-messagebox-portlet-msg-error {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background-image: url( ../images/msgicons/portlet-msg-alert.gif );
    background-repeat: no-repeat;
    background-position: center left;
}

.ui-messagebox-portlet-msg-info {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background-image: url( ../images/msgicons/portlet-msg-info.gif );
    background-repeat: no-repeat;
    background-position: center left;
}

.ui-messagebox-portlet-msg-success {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 5px 5px 25px;
    background-image: url( ../images/msgicons/portlet-msg-success.gif );
    background-repeat: no-repeat;
    background-position: center left;
}

.ui-tab {
    padding: 3px 0;
    margin-left: 0;
    font: bold 12px Verdana;
    border-bottom: 1px solid gray;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.ui-tab li {
    display: inline;
    margin: 0;
}

.ui-tab li a {
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;
    border: 1px solid gray;
    border-bottom: none;
    background-color: #f6ffd5;
    color: #2d2b2b;
}

.ui-tab li a:visited {
    color: #2d2b2b;
}

.ui-tab li a:hover {
    background-color: #DBFF6C;
    color: black;
}

.ui-tab li a:active {
    color: black;
}

.ui-tab li.selected a {
/*selected tab effect*/
    position: relative;
    top: 1px;
    padding-top: 4px;
    background-color: #DBFF6C;
    color: black;
}
