/*
  Author: Oliver Wehrens (wehrens@gridsphere.org)
  $Id$
*/

/* Do not set width 100% in the body, safari does not like it, we get a 1 pixel layover on the upper right side */

body {
    padding: 10px;
    margin: 0px;
    font-size: small;

}

* html body {
    font-size: small; /* for IE5/Win */

}

html {
    background-color: #FFFFFF;

}

h1 {
    font-size: 150%;
    font-weight: bold;
}

h2 {
    font-size: 130%;
    font-weight: bold;
}

h3 {
    font-size: 120%;
    font-weight: bold;
}

/*-------------------------------------------------
HYPERLINKS
-------------------------------------------------*/

/* global settings for hyperlinks */

a {
    font-weight: normal;
    padding: 1px;
    text-decoration: none;
}

a:link {
    color: #0D70C6;
}

a:visited {
    color: #0D70C6;
}

a:hover, a:active {
    color: blue;
}

a.image, a img, a.image:hover {
    background: none;
    border: none;
    color: white;
    padding: 0;
    text-decoration: none;
}

/*-------------------------------------------------
LIST ELEMENTS
-------------------------------------------------*/

li {
    margin: 3px 0px;
}

/*-------------------------------------------------
PARAGRAPHS AND TEXT
-------------------------------------------------*/

p {
    padding-top: 0px;
}

/* class for bigger text */
.bigger {
    font-size: large;
}

/* class for highlighting text */
.highlight {
    background-color: #ffc;
}

/* settings for the heading internal to a framed section of a portlet */
fieldset {
    color: #000;

}

/* settings for the heading of a framed section of a portlet */
fieldset legend {
    color: #000;
    font-weight: bold;
}

/*-------------------------------------------------
FORMS
-------------------------------------------------*/

input, select, textarea {
    font-size: inherit;
}

/*-------------------------------------------------
style for Gridsphere snippets from the content manager
-------------------------------------------------*/

.gridsphere-content {
    padding: 20px 20px;
}
