/* Stylesheet */
/*
Part of the Gridsphere modern theme
Author: Roberto Ranon (ranon@dimi.uniud.it)
Version: $Id$
*/

/* this file contains global and general css rules for HTML elements */

/*-------------------------------------------------
PAGE BODY
-------------------------------------------------*/

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  color: #000;
  background-color: #fff;
  text-align: left;
  font-size: 12px;
  min-width: 800px;
}

/*-------------------------------------------------
GLOBAL & GENERAL RULES
-------------------------------------------------*/

input { padding: 1px; }

a {text-decoration: underline; padding: 1px; font-weight: bold;}
a:link { color: #03c; }
a:visited { color: #03c; }
a:hover { color: #fff; background-color: #039; text-decoration: none; }


a.image, a img, a.image:hover {
  background: none;
  padding: 0;
  border: none;
  text-decoration: none;
  color: white;
}


table {
  empty-cells: show;
  font-size: inherit;           
}

tbody, td, tr, th {
  font-size: inherit;
}

form {
  margin: 0;
  padding: 0;
}

p {
  font-size: 12px;
  line-height: 16px;
}

small {
  font-size: 10px;
  line-height: 13px;
  }

x-small {
  font-size: 9px;
  line-height: 11px;
  }

blockquote {
  font-size: 11px;
  color: #666;
  margin: 20px;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

li {
  font-size: 10px;
  line-height: 13px;
  padding: 3px 0;
}

li img {
  padding-right: 3px;
}

h1 {
  font-family: "Lucida Grande", arial, sans-serif;
  padding: 0;
  border-bottom: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

h2 {
  font-family: "Lucida Grande", arial, sans-serif;
  margin: 20px 0 5px 0px;
  color: #333;
  font-size: 15px;
  padding: 0;
}

h3 {
  margin: 20px 0 0 0;
  color: #666;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 14px;
  padding: 0;
}

.smallnote {
  font-size: 10px;
  color: #999;
  font-weight: normal;
}

.light {
  font-weight: normal;
}

.lightgray {
  font-weight: normal;
  color: #999;
}

.lightgray a:link, .lightgray a:visited {
  color: #999;
  background: inherit;
  text-decoration: underline;
}

.lightgray a:hover {
  color: #fff;
  background: #000;
}

.highlight {
  background-color: #ffc;
}

.bigger {
  font-size: 13px;
}

.red {
  color: #c00;
}

.blue {
  color: #06c;
  }

.green {
  color: #390;
  }

code, pre	{
  font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
  background: inherit;
  color: #333;
  font-size: 80%
  }


* html code	{
  font-size : 105%;
}

div { font-size: inherit; }


