/* Stylesheet */
/*
Part of the Gridsphere modern theme
Author: Roberto Ranon (ranon@dimi.uniud.it)
Version: $Id$
*/

/* the page is divided into the following elements:

      - header (class header, contains logo (image and/or title), locale / status)
      - tabs menu (class tab-pane)
      - content (class content-container, now only active in the guest homepage)
      - footer (class footer)

*/

/*-------------------------------------------------
 PAGE HEADER
-------------------------------------------------*/

.header {
  padding: 0px 8px;
  margin: 0px;
  overflow: hidden;
}

#logo {
    margin: 0px;
    padding: 0px;
    background-color: white;
    border-width:0px;
}

/*-------------------------------------------------
  PAGE CONTENT
-------------------------------------------------*/

    .content-container {
        padding: 30px;
        /* clear: both; */
    }



/*-------------------------------------------------
    PAGE FOOTER
-------------------------------------------------*/

.footer	{
        padding: 15px;
        clear: both;

}

.footer div {
    margin: 0px auto;
}
