/* Stylesheet */
/*
Part of the Gridsphere modern theme.
Author: Roberto Ranon (ranon@dimi.uniud.it)
Version: $Id$
*/

/*-------------------------------------------------
1st LEVEL TAB MENU
-------------------------------------------------*/

.tab-pane
{
	padding: 0px;
	margin: 0px;
	border: none;
	clear: both;
	overflow: hidden;
}

.tab-pane ul
{
	height: 25px;
	margin: 0px;
	padding-left: 20px;
	clear: both;
}

.tab-pane li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	border-right: 1px white;
}

.tab-pane span
{
	float: left;
	background: #ddd;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 6px;
	margin: 2px 5px 0 0;
	border: 1px solid #ddd;
	text-decoration: none;
}

.tab-pane span a:hover {
    color: #000;
    background-color: #ddd;
}

.tab-pane .tab-active
{
	padding: 5px 6px;
	background-color: #eaeac7;
	color: black;
	border: 1px solid #eaeac7;
   font-weight: bold;
}

a.tab-menu
{
	background-color: inherit;
	text-decoration: none;
	font-weight: normal;
	color: #039;
}

/*-------------------------------------------------
2nd LEVEL TAB MENU
-------------------------------------------------*/

.tab-sub-pane
{
	padding: 0px;
	margin: 0px;
	border: none;
}

.tab-sub-pane ul
{
	height: 24px;
	margin: 0px;
	padding-left: 20px;
	background: #eaeac7;
}

.tab-sub-pane li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	border: none;
}

.tab-sub-pane span
{
	float: left;
	background: #eaeac7;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 6px;
	margin: 0 -1px 0 0;
	border-top: none;
}

.tab-sub-active a, .tab-sub-active:hover
{
	background-color: #eaeac7;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.tab-sub-inactive a 
{ 
	background-color: #eaeac7;
 	text-decoration: none; 
 	font-weight: normal;
}

.tab-sub-inactive a:hover
{
	background-color: #eaeac7;
	color: #000;
}
