/*
Part of the Gridsphere modern theme
Author: Luca De Marco (demarco@dimi.uniud.it)
Version: $Id$
*/

.window-main {
   width: 100%;
   padding: 2px;
   font-size: 12px;
}

.window-title-inactive {
  background-color: #003399;
  color: #000000;
  height: 20px; 
  margin: 5px 5px 0px 5px; 
  border-top: none;
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;
}

.window-title-active {
  background-color: #003399;
  color: #000000;
  height: 20px; 
  margin: 5px 5px 0px 5px; 
  border-top: none;
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;
}

.window-title-name {
  color: white;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  float: left; 
  width: 59%; 
  white-space: nowrap;
}

.window-icon-right {
   text-align: right;
   float: right; 
   width: 20%; 
}

.window-icon-left {
    text-align: left;
    float: left; 
    width: 20%; 
}

.window-content-minimize {

}

.window-content {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0px 5px 5px 5px; 
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;
  border-bottom: 1px solid #0053e2;
  height: 100%;
}

