/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id$
*/


#page-logo {
  font-family:Franklin Gothic Medium, verdana, arial, sans-serif;
  color: #008000;
  font-size: 36px;
  font-weight: normal;
  background:#9DACBD;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1px;
}

#page-tagline {
  font-family:Franklin Gothic Medium, verdana, arial, sans-serif;
  color:#cbccce;
  font-size:16px;
  background:#9DACBD;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 5px;
}

#page-wrapper {
  width: 100%;
  display: table-row;
  table-layout: fixed;
}
