/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id$
*/

.tab-pane {
   font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
   font-weight:normal;
   border-bottom: 1px solid #0B54B0;
}

.tab-empty {
   border-bottom: 1px solid black;
   border-right: 1px solid black;
}

.tab-fillup {
    width: 90%;
    background: #9DACBD;
    border-bottom: 1px solid #758D5E;
}

.tab-bar {
   width: 100%;
   background-color: #9DACBD;
   height: 1px;
   border: none;
}

.tab-active {
   color:black;
   font-size: 10px;
}


.tab-inactive {
   margin-bottom: 3px;
   padding-bottom: 3px;
   padding-top: 3px;
   background-color: #7997de;
   color: black;
   font-size:10px;
   margin-left: 10px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   border-right: 1px solid black;
}

a.tab-menu {
  text-decoration:none;
  color: black;
  font-size:10px;
}

a.tab-menu:link {
}

a.tab-menu:visited {
}

a.tab-menu:hover {
}

a.tab-menu:active {
}

/*  subpane */

.tab-sub-active {
    font-weight: normal;
    color: white;
    font-size: 10px;
    margin-left: 5px;
}

.tab-sub-inactive {
    color: #000000;
    margin-left: 5px;
}

.tab-sub-pane {
   height: 15px;
   margin: 0px;
   padding: 0px;
}

a.tab-sub-menu {
    text-decoration:none;
    font-size:10px;
    color: #000000;
}

a.tab-sub-menu:link {
    font-size: 10px;
}

a.tab-sub-menu:visited {
    font-size: 10px;
}

a.tab-sub-menu:hover {
    font-size: 10px;
  color: #425E0C;
}

a.tab-sub-menu:active {
    font-size: 10px;
  color: #ebebeb;
}

a.tab-sub-menu-active {
    font-size: 10px;
    color: white;
}

a.tab-sub-menu-active:link {
    font-size: 10px;
}

a.tab-sub-menu-active:visited {
    font-size: 10px;
}

a.tab-sub-menu-active:hover {
    color: #425E0C;
    font-size: 10px;
}

a.tab-sub-menu-active:active {
  color: #ebebeb;
}


