/*
Part of the Gridsphere XP theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id$
*/

.tab-pane {
   padding-top: 5px;
   padding-left: 10px;
   font-family: verdana, arial, sans-serif;
   font-size:12px;
   font-weight:normal;
   background-color:#ffffff;

}

.tab-empty {
    width: 5px;
}

.tab-bar {
   width: 100%;
   background-color: #397df3;
   height: 1px;
   border: none;
}

.tab-active {
   /*padding: 5px; */
   padding-bottom: 1px;
   margin-bottom: 0px;
   color:white;
   background-color: #397df3;
   font-size:12px;
}


.tab-inactive {
   /*padding: 5px;*/
   margin-bottom: 0px;
   padding-bottom: 0px;
   background-color: #7997de;
   color: #ffffff;
   font-size:12px;
   margin-left: 10px;
}

a.tab-menu {
  text-decoration:none;
}

a.tab-menu:link {
  color: #ffffff;
}

a.tab-menu:visited {
  color: #ffffff;
}

a.tab-menu:hover {
  color: #ffffff;
}

a.tab-menu:active {
  color: #ffffff;
}

/*  subpane */


.tab-sub-active {
    background-color: #ffffff;
    border: 1px solid white;
    font-weight: normal;
    color: #397df3;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;

}

.tab-sub-inactive {
    color: #000000;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-top: 0px;
    padding-left: 2px;
}

.tab-sub-pane {
   background-color: #397df3;
   margin: 0px;
   padding: 0px;
   height: 15px;
}


a.tab-sub-menu {
    text-decoration:none;
}

a.tab-sub-menu:link {
  color: #ebebeb;
  font-size:12px;
}

a.tab-sub-menu:visited {
  color: #ebebeb;
  font-size:12px;
}

a.tab-sub-menu:hover {
  color: #ebebeb;
  font-size:12px;
}

a.tab-sub-menu:active {
  color: #ebebeb;
  font-size:12px;
}



