/*
Part of the Gridsphere XP theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id$
*/


.window-main {
   width: 100%;
}

.window-title {
  background-color: #0053e2;
  color: #000000;
  font-size: 12px;
  height: 15px;
  width: 100%;
  border-top: 1px solid #0053e2;
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;
}


.window-title-name {
  color: white;
  font-family:Franklin Gothic Medium, verdana, arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.window-icon-right {
   text-align: right;
   width: 40px;
   float: right;
}

.window-icon-left {
    text-align: left;
    float: left;
    width: 60px;
}

.window-content-minimize {

}

.window-content {
  background-color: #eeeeee;
  padding: 5px;
  border-right: 1px solid #0053e2;
  border-left: 1px solid #0053e2;
  border-bottom: 1px solid #0053e2;
}


input[type=submit] {
  margin-top: 2px;
}

input, select, textarea {
  font-size: inherit;
  font-family: courier, courier new, monospaced;
}

