
#page-logo {
  font-family:Franklin Gothic Medium, verdana, arial, sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: normal;
  background:#c4c0cb;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1px;
}

#page-tagline {
  font-family:Franklin Gothic Medium, verdana, arial, sans-serif;
  color:#474050;
  font-size:16px;
  background:#c4c0cb;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
}

#page-wrapper {
  width: 100%;
  display: table-row;
  table-layout: fixed;
}


.page-row1 {
  position: relative;
  display:table-cell;
  float: left;
  padding: 10px;
}

.page-row2 {
  position:relative;
  display:table-cell;
  float: right;
  padding: 10px;
}

