


.tabCell { 
	margin: 1px; 
	padding: 1px; 
	border-width: 0px;
	border-style:none; 
	border-color:black; 
	background-color:#cccccc; 
	text-align: left;
	font-size: small;
	}
.tabCellDeact { 
	margin: 1px; 
	padding: 1px; 
	border-width: 0px;
	border-style:none; 
	border-color:black; 
	background-color:#eeeeee; 
	text-align: left;
	font-size: small;
	}
.tabCellSubm { 
	margin: 1px; 
	padding: 1px; 
	border-width: 0px;
	border-style:none; 
	border-color:black; 
	background-color:#cccccc; 
	text-align: left;	
	font-size: small;
	}
.tabCellDeactSubm { 
	margin: 1px; 
	padding: 1px; 
	border-width: 0px;
	border-style:none; 
	border-color:black; 
	background-color:#cccccc; 
	text-align: left;
	font-size: small;
	}	
.windowItem { 
	margin: 1px; 
	padding: 1px; 
	border-width: 0px;
	border-style:none; 
	border-color:black; 
	background-color:#dddddd; 
	text-align: left;
	font-size: small;
	}	
	
.windowTitle { 
	margin: 1px; 
	padding: 1px; 
	border-width: 0px;
	border-style:none; 
	border-color:black; 
	background-color:#dddddd; 
	text-align: center;
	font-size: small;
	}	