/* Stylesheet */
/*
Part of the Gridsphere default theme
Version: $Id: page.css 4496 2006-02-08 20:27:04Z wehrens $
*/

/* ****************************************************************************
    The styles included here are used by the GridSphere UI tag library
 **************************************************************************** */

/*-------------------------------------------------
SORTABLE TABLES
-------------------------------------------------*/

table.sortable a.sortheader {
    background-color: inherit;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

table.sortable span.sortarrow {
    color: white;
    text-decoration: none;
}

