<html>
<head>
<title>GridSphere Orbiter </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
</head>

<form method="POST" name="module" action="servlet/orbiter">
<input type="hidden" name="moduleRequest" value=""></input>
<center>
<table width="90%" border="0" cellspacing="2" cellpadding="0" bgcolor="#FFFFFF">

  <tr>
  <td>
  <table width="100%" border="0" cellspacing="2" cellpadding="0" bgcolor="#999999">

    <tr>
      <td width="100%">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#336699">
          <tr>
             <td><img src="help.gif" align=left></td>
            <td height="20" align="left" valign="middle">
              <font color="#FFFFFF" face="Arial, Helvetica, sans-serif">
              &nbsp;Edit Cactus Installation
              </font></td>
             <td><img src="window.gif" align=right></td>
          </tr>
        </table> 
      </td>
    </tr>
    <tr> 
      <td valign="top" align="left">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#CCCCCC">
          <tr> 
            <td height="20" align="left" valign="middle"><font 
              size="-1" face="Arial, Helvetica, sans-serif">
              &nbsp;<input type="button" name="cancel" value="Save">&nbsp;
              <input type="button" name="cancel" value="Cancel">&nbsp;
              <input type="button" name="help" value="?"
                onClick="javascript:simulations_delete_onClick()">&nbsp;
              </font></td>
          </tr>
        </table>
      </td>
    </tr>

    <tr> 
      <td valign="top" align="left">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#CCCCCC">
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Host:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">
		&nbsp;origin.aei.mpg.de
	   </font></td>
          </tr>
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Install Directory:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center">
 		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr>
 		  <td>
		  <font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;/scratch/foo/bla/Cactus</font>
		  </td>
		</tr>
		</table>
	     </td>
          </tr>
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Anonymous Flesh Checkout?:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;yes </font></td>
           </tr>
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Cactus Version:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;stable </font></td>
           </tr>
          <tr> 
             <td width="25%" valign="top"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Thorns in Installation:</font></td>
	      </font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;
		<textarea cols=40 rows=9></textarea>
		</font></td>
           </tr>
          </tr>
          <tr>
         </table>
       </td>
    </tr>

  </table>
</form>
<!-- End presentation -->
</table>

</td></tr>
</table>
</center>
</font>
</body>
</html>

