



<html>
<head>
<title>GridSphere Orbiter </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
</head>



<!-- Begin presentation -->
<form method="POST" name="simulations" action="servlet/orbiter">
<center>
  <table width="90%" border="0" cellspacing="2" cellpadding="0" bgcolor="#999999">
    <tr>
      <td width="100%">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#336699">
          <tr>
                        <td><img src="help.gif" align=left></td> 
            <td height="20" align="left" valign="middle">
              <font color="#FFFFFF" face="Arial, Helvetica, sans-serif">
              &nbsp;List of Cactus Installations
              </font></td>
                        <td><img src="window.gif" align=right></td> 
          </tr>
        </table> 
      </td>
    </tr>
    <tr>
      <td width="100%">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#CCCCCC">
          <tr>
            <td align="left" valign="middle">
              <font size="-1" face="Arial, Helvetica, sans-serif">
              &nbsp;<input type="button" name="new" value="New"
                onClick="javascript:simulations_run_onClick()">&nbsp;
              <input type="button" name="view" value="View"
                onClick="javascript:simulations_view_onClick()">&nbsp;
              <input type="button" name="view" value="Update"
                onClick="javascript:simulations_view_onClick()">&nbsp;
              <input type="button" name="view" value="Sync"
                onClick="javascript:simulations_view_onClick()">&nbsp;
              <input type="button" name="delete" value="Delete"
                onClick="javascript:simulations_delete_onClick()">&nbsp;
              <!--<input type="button" name="delete" value="Archive"
                onClick="javascript:simulations_delete_onClick()">&nbsp;-->
              <input type="button" name="help" value="?"
                onClick="javascript:simulations_delete_onClick()">&nbsp;
              </font></td>
	     <td align="right" valign="middle"><B>Sort:</B>
		<select NAME="category">
-		<option VALUE="wavetoyc">by Date
		<option VALUE="mypersonalth">by Host
		<option VALUE="foo">by Status
		</select>
	      </td>
	     
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="100%">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#FFFFFF">
          <tr>
<td bgcolor="#000000" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="0"
   onClick="javascript:simulations_simulationIDs_checkAll(document.simulations.simulationIDs, 
                                                          document.simulations.simulationID)">
</font></td>
<td bgcolor="#000000"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif">&nbsp;Hostname</font></td>
<td bgcolor="#000000"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif">&nbsp;Date Created</font></td>
<td bgcolor="#000000"><font color="#FFFFFF" size="-1" face="Arial, Helvetica, sans-serif">&nbsp;Status</font></td>
          </tr>


          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="363" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;origin.aei-potsdam.mpg.de</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 21:20</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;Installing</font></td>
          </tr>


          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;modi4.ncsa.uiuc.edu</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 21:04</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
          </tr>
          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;modi4.ncsa.uiuc.edu</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 21:04</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
          </tr>
          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;modi4.ncsa.uiuc.edu</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 21:04</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
          </tr>
          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;modi4.ncsa.uiuc.edu</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 21:04</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
          </tr>
          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;modi4.ncsa.uiuc.edu</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 21:04</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
          </tr>
          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;origin.aei-potsdam.mpg.de</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 11:54</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;Updating</font></td>
          </tr>
          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;origin.aei-potsdam.mpg.de</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 11:54</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;Updating</font></td>
          </tr>
          <tr>
<td bgcolor="#CCCCCC" align="center" valign="middle" width="12">
<font size="-1" face="Arial, Helvetica, sans-serif">
<input type="checkbox" name="simulationIDs" value="344" onClick="javascript:simulations_simulationIDs_onClick(this, document.simulations.simulationIDs, document.simulations.simulationID)">
</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;origin.aei-potsdam.mpg.de</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;2002-07-04 11:54</font></td>
<td><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;Updating</font></td>
          </tr>

	<tr>
        <td bgcolor=CCCCCC>	</td>
        <td align=left><a href=""><font size=-1>&lt;&lt;&lt; previous</font></A></td>
        <td align=center> &nbsp;</td>
	<td colspan=2 align=right><a href=""><font size=-1>next &gt;&gt;&gt;</font></A>
	</td>
	</tr>
        </table>
      </td>
    </tr>
  </table>
</center>
</form>

</table>
</body>
</html>
