<html>
<head>
<title>GridSphere Orbiter </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
</head>

<form method="POST" name="module" action="servlet/orbiter">
<input type="hidden" name="moduleRequest" value=""></input>
<center>
<table width="90%" border="0" cellspacing="2" cellpadding="0" bgcolor="#FFFFFF">

  <tr>
  <td>
  <table width="100%" border="0" cellspacing="2" cellpadding="0" bgcolor="#999999">

    <tr>
      <td width="100%">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#336699">
          <tr>
            <td><img src="help.gif" align=left></td>
            <td height="20" align="left" valign="middle">
              <font color="#FFFFFF" face="Arial, Helvetica, sans-serif">
              &nbsp;New Cactus Installation
              </font></td>
             <td><img src="window.gif" align=right></td>
          </tr>
        </table> 
      </td>
    </tr>
    <tr> 
      <td valign="top" align="left">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#CCCCCC">
          <tr> 
            <td height="20" align="left" valign="middle"><font 
              size="-1" face="Arial, Helvetica, sans-serif">
              &nbsp;<input type="button" name="cancel" value="Back">&nbsp;
              <input type="button" name="logon" value="Install">&nbsp;
              <input type="button" name="cancel" value="Cancel">&nbsp;
              <input type="button" name="help" value="?"
                onClick="javascript:simulations_delete_onClick()">&nbsp;
              </font></td>
          </tr>
        </table>
      </td>
    </tr>

    <tr> 
      <td valign="top" align="left">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#CCCCCC">
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Save Thornlist?:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;<input TYPE="radio" NAME="showcments" VALUE="yes"> yes  <input TYPE="radio" NAME="showcments" VALUE="no" CHECKED> no &nbsp;&nbsp;<input TYPE="textarea"></font></td>
           </tr>
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;See Output?:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;<input TYPE="radio" NAME="showcments" VALUE="yes"> yes  <input TYPE="radio" NAME="showcments" VALUE="no" CHECKED> no &nbsp;&nbsp;</font></td>
           </tr>
          <!--<tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Verbose Checkout?</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;<input TYPE="radio" NAME="showcomments" VALUE="yes"> yes <input TYPE="radio" NAME="shonts" VALUE="no" CHECKED> no</font></td>
           </tr>-->
          <tr>

             <td width="25%" valign="top"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">Thorns to checkout:</font></td>
     <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;
		<textarea cols=41 rows=13></textarea>
		</font></td>
           </tr>

         </table>
       </td>
    </tr>

  </table>
</form>
<!-- End presentation -->
</table>

</td></tr>
</table>
</center>
</font>
</body>
</html>

