<html>
<head>
<title>GridSphere Orbiter </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></meta>
</head>

<form method="POST" name="module" action="servlet/orbiter">
<input type="hidden" name="moduleRequest" value=""></input>
<center>
<table width="90%" border="0" cellspacing="2" cellpadding="0" bgcolor="#FFFFFF">

  <tr>
  <td>
  <table width="100%" border="0" cellspacing="2" cellpadding="0" bgcolor="#999999">

    <tr>
      <td width="100%">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#336699">
          <tr>
            <td><img src="help.gif" align=left></td>
            <td height="20" align="left" valign="middle">
              <font color="#FFFFFF" face="Arial, Helvetica, sans-serif">
              &nbsp;GridSphere Login
              </font></td>
             <td><img src="window.gif" align=right></td>
          </tr>
        </table> 
      </td>
    </tr>

    <tr> 
      <td valign="top" align="left">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#CCCCCC">
          <tr> 
            <td height="20" align="left" valign="middle"><font 
              size="-1" face="Arial, Helvetica, sans-serif">
              &nbsp;<input type="button" name="logon" value="Login">&nbsp;
              <input type="button" name="upload" value="Upload">&nbsp;
              <!--<input type="button" name="upload" value="Get MyProxy Client">&nbsp;-->
              <input type="button" name="cancel" value="Cancel">&nbsp;
              <input type="button" name="help" value="?"
                onClick="javascript:simulations_delete_onClick()">&nbsp;
              </font></td>
          </tr>
        </table>
      </td>
    </tr>

    <tr> 
      <td valign="top" align="left">
        <table width="100%" border="0" cellspacing="1" cellpadding="1" bgcolor="#CCCCCC">
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Identity:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center">
 		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr>
 		  <td>
		  <font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;<input type="text" name="usernme" value="" size="20"></font>
		  </td>
		</tr>
		</table>
	     </td>
          </tr>
          <tr> 
             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Passphrase:</font></td>
             <td bgcolor="#FFFFFF" width="75%" valign="center">
 		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr>
 		  <td>
		  <font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;<input type="password" name="usernme" value="" size="20"></font>
		  </td>
		</tr>
		</table>
	     </td>
</tr>
      <!--    <tr>

             <td width="25%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;</font></td>
     <td bgcolor="#FFFFFF" width="75%" valign="center"><font size="-1" face="Arial, Helvetica, sans-serif">&nbsp;
		<textarea cols=41 rows=5></textarea>
		</font></td>
           </tr>-->

         </table>
       </td>
    </tr>

  </table>
</form>
<!-- End presentation -->
</table>

</td></tr>
</table>
</center>
</font>
</body>
</html>

