<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<body>
<b>Portal Layout Components Events Implementation</b>
<p>
Just like in AWT or Swing libraries, portlet layout components
can receive events by implementing a listener.
<p>
The current component event implementations are:
<ul>
<li>{@link org.gridsphere.layout.event.impl.PortletFrameEventImpl}</li>
<li>{@link org.gridsphere.layout.event.impl.PortletTabEventImpl}</li>
<li>{@link org.gridsphere.layout.event.impl.PortletTitleBarEventImpl}</li>
</ul>
<p>

</body>
</html>