<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<body>
<b>Portal Layout Component Events API</b>
<p>
Just like in AWT or Swing libraries, portal layout components
can receive events by implementing a listener.
<p>
The current component events are:
<ul>
<li>{@link org.gridsphere.layout.event.PortletFrameEvent}</li>
<li>{@link org.gridsphere.layout.event.PortletTabEvent}</li>
<li>{@link org.gridsphere.layout.event.PortletTitleBarEvent}</li>
</ul>
<p>
The corresponding listeners are:
<ul>
<li>{@link org.gridsphere.layout.event.PortletFrameListener}</li>
<li>{@link org.gridsphere.layout.event.PortletTabListener}</li>
<li>{@link org.gridsphere.layout.event.PortletTitleBarListener}</li>
</ul>
<p>

</body>
</html>