<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<body>
<b>Portal Layout Components API</b>
<p>
Portal layout components are the visual graphical components that get displayed
to a client consisting of presentation information in an appropriate markup
language (currently just HTML).
<p>
Portal components are typically defined in an XML schema known as layout.xml
and unmarshalled to Java objects using the Castor java data binding libraries.
<p>
All layout components implement a {@link org.gridsphere.layout.ComponentRender}
interface responsible for rendering the presentation content. In addition, most
concrete portal components implement a
{@link org.gridsphere.layout.ComponentLifecycle} interface responsible
for handling all component lifecyle methods such as initialization, shutdown,
and performing actions.
<p>
GridSphere supports two pluggable look and feels (PLAF)s:
 classic {@link org.gridsphere.layout.view.classic}
 and standard {@link org.gridsphere.layout.view.standard}
The classic PLAF remains the old (GS 2.1.2 and earlier) look and feel using a
 combination of nested tables and some CSS. The current default PLAF is standard
which is evolving towards a much more configurable pure CSS layout. Each PLAF supports
multiple themes inside each of the PLAF subdirectories. If you are interested in developing
a new theme, please use the standard PLAF and have a look at the CSS files.
<p>
The current list describes the concrete portlet components that are in use:
<ul>
<li>{@link org.gridsphere.layout.PortletFrame}</li>
<li>{@link org.gridsphere.layout.PortletTableLayout}</li>
<li>{@link org.gridsphere.layout.PortletColumnLayout}</li>
<li>{@link org.gridsphere.layout.PortletRowLayout}</li>
<li>{@link org.gridsphere.layout.PortletContent}</li>
<li>{@link org.gridsphere.layout.PortletTab}</li>
<li>{@link org.gridsphere.layout.PortletTabbedPane}</li>
<li>{@link org.gridsphere.layout.PortletContent}</li>
<li>{@link org.gridsphere.layout.PortletTitleBar}</li>
</ul>

</body>
</html>
