/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: layout.css 4496 2006-02-08 20:27:04Z wehrens $
*/

.header {
    background-color: #d6d6d6;
    padding: 0px;
    margin: 0px;
}

