/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: page.css 4496 2006-02-08 20:27:04Z wehrens $
*/

#page-logo {
  color: #0079b8;
  font-size: 36px;
  font-weight: normal;
  background:#d6d6d6;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 5px;
  padding-bottom: 1px;
}

#page-tagline {
  color:#cbccce;
  background:#d6d6d6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 5px;
}

#page-wrapper {
  width: 100%;
  display: table-row;
  table-layout: fixed;
}
