<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 $Id$
-->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.3.dtd">

<web-app>

    <display-name>GridSphere Portlet Container</display-name>

    <description>
        GridSphere Portlet Container
    </description>

    <listener>
        <listener-class>org.gridlab.gridsphere.portletcontainer.GridSphereServlet</listener-class>
    </listener>

    <servlet>
        <servlet-name>gridsphere</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portletcontainer.GridSphereServlet</servlet-class>
        <init-param>
            <param-name>gridsphere_version</param-name>
            <param-value>1.1</param-value>
        </init-param>
        <init-param>
            <param-name>gridsphere_release</param-name>
            <param-value>rc_1</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>LoginPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.login.LoginPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogoutPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.login.LogoutPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FileManagerPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.file.FileManagerPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BannerPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.file.BannerPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserManagerPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.admin.users.UserManagerPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GroupManagerPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.admin.groups.GroupManagerPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PortletApplicationManager</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.admin.portlets.PortletApplicationManager</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NotePadPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.notepad.NotePadPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProfileManagerPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.user.ProfileManagerPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LocalePortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.locale.LocalePortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LayoutPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.layout.LayoutManagerPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SubscriptionPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.subscription.SubscriptionPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TextMessagingPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.messaging.TextMessagingPortlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletRedirector</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletTestRunner</servlet-name>
        <servlet-class>org.apache.cactus.server.runner.ServletTestRunner</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SecureDirectory</servlet-name>
        <servlet-class>org.gridlab.gridsphere.servlets.SecureDirectory</servlet-class>
        <init-param>
            <param-name>strongProtection</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>CommanderPortlet</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portlets.core.file.CommanderPortlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gridsphere</servlet-name>
        <url-pattern>/gridsphere</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginPortlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutPortlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LayoutPortlet</servlet-name>
        <url-pattern>/layout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileManagerPortlet</servlet-name>
        <url-pattern>/file/manager</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserManagerPortlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroupManagerPortlet</servlet-name>
        <url-pattern>/admin/groups</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PortletApplicationManager</servlet-name>
        <url-pattern>/admin/portlets</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PortletApplicationManager</servlet-name>
        <url-pattern>/admin/gridsphere</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProfileManagerPortlet</servlet-name>
        <url-pattern>/users/profile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletRedirector</servlet-name>
        <url-pattern>/ServletRedirector</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletTestRunner</servlet-name>
        <url-pattern>/ServletTestRunner</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NotePadPortlet</servlet-name>
        <url-pattern>/note/notepad</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TextMessagingPortlet</servlet-name>
        <url-pattern>/textmessaging</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SubscriptionPortlet</servlet-name>
        <url-pattern>/subscription</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LocalePortlet</servlet-name>
        <url-pattern>/locale</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SecureDirectory</servlet-name>
        <url-pattern>/secure/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CommanderPortlet</servlet-name>
        <url-pattern>/file/commander</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>wbmp</extension>
        <mime-type>image/vnd.wap.wbmp</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>wml</extension>
        <mime-type>text/vnd.wap.wml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>wmls</extension>
        <mime-type>text/vnd.wap.wmlscript</mime-type>
    </mime-mapping>

</web-app>
