<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
 $Id$
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.3.dtd">

<web-app>

    <display-name>GridSphere Portlet Container</display-name>

    <description>
        GridSphere Portlet Container
    </description>

    <listener>
        <listener-class>org.gridlab.gridsphere.portletcontainer.GridSphereServlet</listener-class>
    </listener>

    <servlet>
        <servlet-name>gridsphere</servlet-name>
        <servlet-class>org.gridlab.gridsphere.portletcontainer.GridSphereServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Redirect</servlet-name>
        <jsp-file>/jsp/redirect.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
       <servlet-name>gridsphere</servlet-name>
       <url-pattern>/gridsphere</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>Redirect</servlet-name>
       <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
      <extension>wbmp</extension>
      <mime-type>image/vnd.wap.wbmp</mime-type>
    </mime-mapping>

    <mime-mapping>
      <extension>wml</extension>
      <mime-type>text/vnd.wap.wml</mime-type>
    </mime-mapping>

    <mime-mapping>
      <extension>wmls</extension>
      <mime-type>text/vnd.wap.wmlscript</mime-type>
    </mime-mapping>


</web-app>
